<nav>
  <div class="container">
    <ul class="menu">
      <li ngClass="{{activePage == 'sculptuur' ? 'active' : ''}}"><a routerLink="/sculptuur">Sculptuur</a></li>
      <li><a routerLink="/keramiek">Keramiek</a></li>
      <li><a routerLink="/projecten">Projecten</a></li>
      <li><a routerLink="/about">over</a></li>
      <li><a routerLink="/exposities">exposities</a></li>
      <li><a routerLink="/contact">contact</a></li>
      <li><a href="http://www.rudiquartier.be">Rudi Quartier</a></li>
      <li><a routerLink="/login">login</a></li>
      <li [ngStyle]="{'display':getLoggedInStatus()}"><a routerLink="/admin">admin</a></li>
    </ul>
  </div>
</nav>
