#secondaryMenu {
  position: relative;
  top: -10px;
  left: 20px;
  font-size: 15px;
  margin-bottom: 0px;
  font-family: "simplifica";
}

#secondaryMenu a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  position: relative;
  top: -30px;
}

.contact {
  width: 100%;
  position: relative;
  font-family: "calibri";
  font-size: 15px;
  height: 200px;
  padding-left: 10px;
  top: -15px;
}

#contact .contactDetailsText {
  display: inline;
}

#contact .txtContactDetails {
  display: none;
  float: none;
  width: 250px;
  height: 25px;
  line-height: 25px;
}

#contact p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.imgContactDetails {
  max-width: 25px;
  cursor: pointer;
  position: relative;
  top:5px;
}

.edit {
  display: inline;
}

.save {
  display: none;
}

.txtContactDetails {
  display: inline;
}
