<app-menu xmlns="" xmlns=""></app-menu>
<section id="photos" class="photos">
  <p id="secondaryMenu">
    > <a href="/admin">Admin</a> > <a href="/sculptuurBeheren">Sculptuur Beheren</a>
  </p>

  <div class="container">
    <p id="pAddNewSculptuur" (click)="showPopupAddNewCollection()">
      <img src="../../assets/images/AdminPanel/icon_grid_1x_add_to_open_folder.png" alt="edit"
           class="imgIcon addNewSculptuur"
           id="btnAddToYear">
      VOEG TOE
    </p>

    <div id="popupAddNewCollectionOverlay" (click)="closePopupAddNewCollection()"></div>
    <div id="popupEditPhotoset">
      <h1>WIJZIG EEN COLLECTIE</h1>
      <form>
        <dl>
          <dt>*Naam:</dt>
          <dd>
            <input type="text" id="newCollectionName" placeholder="Naam" [(ngModel)]="txtnewCollectionName"
                   [ngModelOptions]="{standalone: true}"/>
            <span id="NameVerplicht">Naam is verplicht</span>
          </dd>
          <dt>Omschrijving:</dt>
          <dd><input type="text" id="newCollectionDescription" placeholder="Omschrijving"
                     [(ngModel)]="txtnewCollectionDescription" [ngModelOptions]="{standalone: true}"/></dd>
          <dt></dt>
          <dd><input id="btnEditCollection" type="submit" (click)="editCollection($event)" value="Wijzig"/></dd>
        </dl>
      </form>
      <img id="closePopupAddNewCollection" (click)="closePopupAddNewCollection()"
           src="../../assets/images/AdminPanel/icon_grid_1x_delete_gray.png"/>
    </div>
    <div id="popupAddNewCollection">
      <h1>VOEG EEN NIEUWE COLLECTIE TOE</h1>
      <form>
        <dl>
          <dt>*Naam:</dt>
          <dd>
            <input type="text" id="newCollectionName" placeholder="Naam" [(ngModel)]="txtnewCollectionName"
                   [ngModelOptions]="{standalone: true}"/>
            <span id="NameVerplicht">Naam is verplicht</span>
          </dd>
          <dt>Omschrijving:</dt>
          <dd><input type="text" id="newCollectionDescription" placeholder="Omschrijving"
                     [(ngModel)]="txtnewCollectionDescription" [ngModelOptions]="{standalone: true}"/></dd>
          <dt>Fotos:</dt>
          <dd>
            <input id="selectPhotosToUpload" type="file" name="file" (change)="addPhotosToUpload($event.target.files)"
                   multiple>
            <span id="PhotosVerplicht">Voeg ten minste één foto toe.</span>
          </dd>
          <dt></dt>
          <dd><input id="btnAddNewCollection" type="submit" (click)="addNewSculptuur($event)" value="VOEG TOE"/></dd>
        </dl>
      </form>
      <img id="closePopupAddNewCollection" (click)="closePopupAddNewCollection()"
           src="../../assets/images/AdminPanel/icon_grid_1x_delete_gray.png"/>
    </div>
    <div id="ldBar" class="ldBar label-center" data-preset="circle" data-value="0"
         style="width:100%;height:200px"></div>

    <ul>
      <li class="image hvr-sweep-to-right" *ngFor="let photoset of sculptuurPhotosets">
        <p>
          <img class="editPhotosetIcon" src="../../assets/images/AdminPanel/icon_grid_1x_edit.png" (click)="showPopupEditCollection(photoset.id)"/>
          <img class="deletePhotosetIcon" src="../../assets/images/AdminPanel/icon_grid_1x_trash_can_grey.png" (click)="showPopupDeleteCollection(photoset.id)"/>
        </p>
        <div class="photoSetDetails">
          <img class="primaryPhotoFromPhotoSet" [src]="photoset.photos[0].src" width="110px" height="95px"
               (click)="open(photoset.photos, 0)">
          <p class="SculptuurSummary"><b>{{photoset.title}}</b> - {{photoset.description}}</p>
          <div class="extraBeelden">
            <div class="beeld" *ngFor="let photo of photoset.photos; let i = index">
              <img [src]="photo.src" (click)="open(photoset.photos, i)"/>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
