<app-menu></app-menu>
<section id="photos" class="photos">
  <p id="secondaryMenu">
    > <a href="/admin">Admin</a> > <a href="/sculptuurBeheren">Sculptuur Beheren</a>
  </p>
  <div class="container">
    <form>
      <input id="myForm" type="file" name="file" (change)="uploadPhoto($event.target.files)" multiple>
    </form>

    <p id="pAddNewSculptuur" (click)="addNewSculptuur($event)">
      <img src="../../assets/images/AdminPanel/icon_grid_1x_add_to_open_folder.png" alt="edit" class="imgIcon addNewSculptuur"
           id="btnAddToYear" >
      VOEG TOE
    </p>
    <ul>
      <li class="image" *ngFor="let photoset of sculptuurPhotosets">
        <img [src]="photoset.photos[0].src" width="110px" height="95px" (click)="open(photoset.photos, 0)">
        <p class="SculptuurSummary"><b>{{photoset.title}}</b> - {{photoset.description}}</p>
        <div class="extraBeelden">
          <div class="beeld" *ngFor="let photo of photoset.photos; let i = index">
            <img [src]="photo.src" (click)="open(photoset.photos, i)"/>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
