/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'simplifica';
  src: url('./assets/fonts/simplifica.ttf');
  src: url('./assets/fonts/simplifica.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/simplifica.ttf') format('truetype'); /* Safari, Android, iOS */
}

body{
  margin-top: 20px;
  font-family: 'simplifica', 'calibri', 'Arial', serif;
  background-color: #fefefe;
  color: #474747;
  font-size: 14px;
}

body .container {
  padding-left: 0px;
  margin: 0 auto;
  max-width: 960px;
}

section {
  max-width: 960px;
  margin: 0 auto;
  font-family: "calibri";
}

a {
  text-decoration: none;
  color: #474747;
}

a.active, a.active:hover, a.inactive, a.inactive:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
